/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Empty.flprj/ */

:root
{
	--Lightest: #FFFFFF;
	--FontFamily: Roboto;
	--Dark: #2f4f4f;
	--Primary: #8eafaf;
	--LogoImage: url('../Images/guide_logo.png');
}

