/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: Roboto;
	background-color: #FFFFFF;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #2f4f4f;
	font-family: Roboto;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	color: #2f4f4f;
	font-family: Roboto;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	color: #2f4f4f;
	font-family: Roboto;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	color: #2f4f4f;
	font-family: Roboto;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
	color: #2f4f4f;
	font-family: Roboto;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
	font-family: Roboto;
}

p
{
	font-size: 12.0pt;
	font-family: Roboto;
	color: #000000;
	margin-bottom: 20px;
	margin-top: 20px;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

